.marqueeContainer {
    overflow: hidden;
    width: 100%;
    background-color: #1a1a1a;
    padding: 20px 0;
}

.marqueeContent {
    display: flex;
    /* width: calc(200px * 8); Adjust according to the number of images */
    animation: scroll 15s linear infinite;
}

.imageWrapper {
    flex: 0 0 auto;
    margin: 0 5px;
    border: 2px solid #00aaff;
    border-radius: 5px;
    overflow: hidden;
}

.image {
    width: 200px;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
